# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django settings for secret keys, database URLs, etc.
.env

# Database file
db.sqlite3

# Static files (if you're not using them in version control)
staticfiles/

# Media files (if you're not using them in version control)
media/

# Virtual environment directories
venv/
env/

# Other IDE/editor files
.idea/
.vscode/
*.swp
.DS_Store

